<div class="container">
  <h1 class="title">Whale Observation Tracker</h1>

  <div class="row controls">
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="year-select">Select Year:</label>
        </div>
        <select id="year-select" class="form-control" [(ngModel)]="selectedYear" (change)="onSelectionChange()">
          <option value="">-- Select Year --</option>
          <option value="2013">2013</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <!-- Add more options for available years -->
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="species-select">Select Species:</label>
        </div>
        <select id="species-select" class="form-control" [(ngModel)]="selectedSpecies" (change)="onSelectionChange()">
          <option value="">-- Select Species --</option>
          <option value="Unidentified Whale">Unidentified Whale</option>
          <option value="Dolphin">Dolphin</option>
          <option value="Seal">Seal</option>
          <!-- Add more options for available species -->
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="graph">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [type]="'bar'"></canvas>
  </div>
</div>