<div class="container">
  <h1 class="title">Whale Observation Tracker</h1>

  <div class="row controls">
    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="year-select">Select Year:</label>
        </div>
        <select id="year-select" class="form-control" [(ngModel)]="selectedYear" (change)="onSelectionChange()">
          <option value="">-- Select Year --</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="species-select">Select Species:</label>
        </div>
        <select id="species-select" class="form-control" [(ngModel)]="selectedSpecies" (change)="onSelectionChange()">
          <option value="">-- Select Species --</option>
          <option *ngFor="let specie of species" [value]="specie">{{ specie }}</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="graph">
    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [type]="'bar'"></canvas>
  </div>
</div>
